*.md                  @GSA/bears-engineers
*.js                  @GSA/bears-engineers
*.scss                @GSA/bears-engineers
*.vue                 @GSA/bears-engineers
/content/             @GSA/bears-content
