/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
.text-success {
   color: color('success-dark')
}

@media print {
   .break-inside-avoid {
      page-break-inside: avoid;
      break-inside: avoid;
      display: block;
   }
   .break-before-always-nfc:not(:first-child),
   .break-before-always {
      page-break-before: always;
      break-before: page;
      display: block;
   }
   .print\:text-left {
      text-align: left;
   }
   .print\:display-none {
      display: none;
   }
   .print\:display-inline {
     display: inline;
   }
   .print\:display-block {
      display: block;
   }
   .print\:text-black {
      color: color('black');
   }
   .print\:bg-white {
      @include u-bg('white');
   }
   .print\:text-base-darker {
      color: color('base-darker');
   }
}

.usa-nav__secondary {
   @include at-media($theme-header-min-width) {
      bottom: 6rem;
   }
}

.usa-social-link-a11y > img {
   display: block;
   margin: 0 auto;
   width: 65%;
   transform: translate(0, 25%);
}

@media (min-width: 64em) {
   .usa-navbar.position-relative > .usa-nav__secondary {
     bottom: 3rem;
   }
}
