/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
.text-success {
   color: color('success')
}

@media print {
   .break-inside-avoid {
      page-break-inside: avoid;
      break-inside: avoid;
      position: relative;
      display: block;
      }
   .break-before-always {
      page-break-before: always;
      break-before: page;
   }
   .print\:text-left {
      text-align: left;
   }
   .print\:display-none {
      display: none;
   }
   .print\:display-block {
      display: block;
   }
}